<?xml version="1.0"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <connectionStrings>
        <add name="DBConn" connectionString="Data Source=.\SQLExpress;AttachDBFilename=|DataDirectory|Northwind.mdf;Trusted_Connection=Yes;Database=Northwind;" providerName="System.Data.SqlClient"/>
        <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEntities.csdl|res://*/NorthwindEntities.ssdl|res://*/NorthwindEntities.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=F:\project\dotnet\beango.model\App_Data\Northwind.db&quot;" providerName="System.Data.EntityClient"/>
        <add name="NorthwindEntities1" connectionString="metadata=res://*/NorthwindEntities.csdl|res://*/NorthwindEntities.ssdl|res://*/NorthwindEntities.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=F:\project\dotnet\beango.model\App_Data\Northwind.db&quot;" providerName="System.Data.EntityClient"/>
        <add name="ORCLEntities" connectionString="metadata=res://*/orcl.csdl|res://*/orcl.ssdl|res://*/orcl.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=92;PASSWORD=sa123456.;USER ID=DEV&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <oracle.dataaccess.client>
        <settings>
            <add name="bool" value="edmmapping number(1,0)"/>
            <add name="byte" value="edmmapping number(3,0)"/>
            <add name="int16" value="edmmapping number(4,0)"/>
            <add name="int32" value="edmmapping number(9,0)"/>
            <add name="int64" value="edmmapping number(18,0)"/>
        </settings>
    </oracle.dataaccess.client>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
