<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DBConn" connectionString="Database=AYCRM;Server=192.168.1.110;UID=sa;Password=sa123456.;Application Name=AYCRMConn ASP.NET;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>