<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=.\SQLExpress;AttachDBFilename=|DataDirectory|Northwind.mdf;Trusted_Connection=Yes;Database=Northwind;" providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEntities.csdl|res://*/NorthwindEntities.ssdl|res://*/NorthwindEntities.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=F:\project\dotnet\beango.model\App_Data\Northwind.db&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities1" connectionString="metadata=res://*/NorthwindEntities.csdl|res://*/NorthwindEntities.ssdl|res://*/NorthwindEntities.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=F:\project\dotnet\beango.model\App_Data\Northwind.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>