<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DBConn" connectionString="Data Source=.\SQLExpress;AttachDBFilename=|DataDirectory|Northwind.mdf;Trusted_Connection=Yes;Database=Northwind;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>