<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
        <!--连接字符串的名称-->
        <add key="ConnectionStringKey" value="NorthwindEntities"/>
        <!--实体容器的名称-->
        <add key="EntityContainerName" value="NorthwindEntities"/>
        <!--程序集-->
        <add key="ObjectContextLib" value="beango.model"/>
        <!--对象上下文类型-->
        <add key="ObjectContextType" value="beango.model.NorthwindEntities, beango.model"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
